.Movie-Section{
    width: 76%;
    background-color: aquamarine;
}

.Form-Group{
    width: 24%;
    background-color: blueviolet;
}

.Grid-Two{
    padding: 5px;
}

.Form-set{
    padding: 5px;
    color: #42a5f5;
}